.white{
	background-color: #fff !important;
}

.white-text{
	color: #fff !important;
}

.black{
	background-color: #000 !important;
}

.black-text{
	color: #000 !important;
}

.red{
	background-color: #f44336 !important;
}

.red-text{
	color: #f44336 !important;
}

.red.light-4{
	background-color: #ffcdd2 !important;
}

.red-text.light-4{
	color: #ffcdd2 !important;
}

.red.light-3{
	background-color: #ef9a9a !important;
}

.red-text.light-3{
	color: #ef9a9a !important;
}

.red.light-2{
	background-color: #e57373 !important;
}

.red-text.light-2{
	color: #e57373 !important;
}

.red.light-1{
	background-color: #ef5350 !important;
}

.red-text.light-2{
	color: #ef5350 !important;
}



.red.dark-1{
	background-color: #e53935 !important;
}

.red-text.dark-1{
	color: #e53935 !important;
}

.red.dark-2{
	background-color: #d32f2f !important;
}

.red-text.dark-2{
	color: #d32f2f !important;
}

.red.dark-3{
	background-color: #c62828 !important;
}

.red-text.dark-3{
	color: #c62828 !important;
}

.red.dark-4{
	background-color: #b71c1c !important;
}

.red-text.dark-4{
	color: #b71c1c !important;
}


.red.accent-1{
	background-color: #ff8a80 !important;
}

.red-text.accent-1{
	color: #ff8a80 !important;
}

.red.accent-2{
	background-color: #ff5252 !important;
}

.red-text.accent-2{
	color: #ff5252 !important;
}

.red.accent-3{
	background-color: #ff1744 !important;
}

.red-text.accent-3{
	color: #ff1744 !important;
}

.red.accent-4{
	background-color: #d50000 !important;
}

.red-text.accent-4{
	color: #d50000 !important;
}

