
.section{
    background-color: white;
    padding: 10px 30px;
}

.hero{
    display: block;
}

.hero-content{
    padding: 20px 30px;
}

.hero-title{
    font-size: 2.5rem;
    font-weight: 500;
    line-height: 1;
}

.hero-subtitle{
    color: ;
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1;
}